/*
    Background Colors
*/
.background-pink {
    background-color: #844A48;
}

.background-grey {
    background-color: #cdcdcd;
}

.background-white {
    background-color: #e9e9e9;
}

.background-black {
    background-color: #2d2312;
}

nav {
    background-color: #844A48;
}

/*
    Font Sections
*/
body{
    background: url("cubes.png") repeat 0 0;

}
h2 {
    font-size: 100px;
    color: #CC6A5F;
}

h3 {
    font-size: 30px;
    color: #E9B07B;
}

th {
    color: #648A74;
    background-color: #E9B07B;
}

a:link {
    color: #648A74;
}

a:hover {
    color: darkgreen;
}

a:visited {
    color: #648A74;
}
tr {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e8e8e8;
}

.font-body {
    font-family: Helvetica;
}

/*
    Font Colors
*/
.font-light-blue {
    color: #88bbd6;
}

.font-grey {
    color: #cdcdcd;
}

.font-white {
    color: #e9e9e9;
}

.font-black {
    color: #2d2312;
}

/*
    Size and Padding Settings
*/
.banner-top {
    padding-left: 200px;
    padding-right: 200px;
    height: 100px;
}

.banner-bottom {
    padding-left: 200px;
    padding-right: 200px;
    height: 100px;
}

.navigation {
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    height: 50px;
}

.navigation-bar {
    align-content: center;
    text-align: center;
}

.converter {
    padding-left: 125px;
    padding-right: 125px;
    padding-bottom: 7px;
    padding-top: 100px;
}

.input-column {
    width: 260px;
    height: 308px;
}

.input-header {
    text-align: center;
    height: 70px;
}

.imput-box {
    padding-bottom: 70px;
}
