@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Hello!</h3>

<p> Welcome to Full Stacks, your select cardboard box company!
    We hope you enjoy using our state of the art inventory system!</p>
