@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Full Stacks<br />
    777 Cardboard Dr <br />
    Box Town <br />
    PO Box 77  <br />
    <abbr title="Phone">P:</abbr>
     777.123.7777
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@fullstacks.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@fullstacks.com</a>
</address>
